set default=0 
set timeout=6

search --no-floppy --set=root -l 'Fedora-MATE'

echo -e "\nWelcome to UOS installer!\n\n"

menuentry 'PXE Install UOS' {
echo 'Loading kernel ...'
linux /amd64/vmlinuz console=tty boot=live netboot=nfs nfsroot=SERVER_IP:/var/nfs/amd64/ components union=overlay locales=zh_CN.UTF-8 livecd-installer --
echo 'Loading initrd ...'
initrd /amd64/initrd.lz
}
